@import "../global/variables";

  .mobile-header{
    line-height: 1.5;
    .logo{
        max-width: 170px;
    }
    .form{
        max-height: 50px;
    }
   }    
   .mobilemenu{
    margin-left: -250px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: $bodycolor;
    width: 250px;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
   }
   .mobilemenuactive{
    margin-left: 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: $bodycolor;
    width: 250px;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
   }

